body {
    max-width: 100%;
    margin: 20px;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    font-family: 'Rubik', sans-serif;
    max-width: 100%;
}
footer {
    word-wrap: break-word;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    opacity: 0.9;
    z-index: 5;
    background-color: #007BFF;
    color: #fff;
    position: fixed;
    width: 50%;
    left: 25%;
    bottom: 3px;
}
.small {
    font-size: 10px;
}
a {
    color:#003c7d;
}

.small-ad {
    display: none;
}

@media (max-width: 700px) {
    .big-ad {
    	display: none;
    }
    .small-ad {
	display: initial;
    }
}
